*{
	margin: 0;
}
/*caixa transparente*/
/*#box{
	position: absolute;
	left: 56%;
	

}*/
body{
	
	background-repeat: no-repeat;
	background-position: top;
	width: 100%;
}

.index{
	top: 10px;
	text-align:center;
	color: white;
	


}
.index h1{
	font-size: 100px;
	border-bottom: 3px solid white;
	margin:30px;
	}
.index p{
	font-size: 20px;
	margin:30px;
	}
.index a{
	padding: 10px;
	border: 3px solid white;
	margin: 20px;
	color: white;
}
nav a:visited{
	color: white;
}
nav a:hover{
	color: white;
	text-decoration: none;
	border-bottom: 3px solid white;
	background: black;
}
.somos{
	color: black;
}
#Destaques{	
	
}
footer{
	margin-top: 500px;
}
.resultado{
	background: red;
	
}
.resultado p{
	margin-left:550px; margin-bottom: 100px; margin-top: 500px;
}
button a : hover{
	text-decoration: none;
	color: white;
}
.index a:hover{
	background: rgb(116, 216, 232);

}
