*{
	margin: 0;
}
/*caixa transparente*/
/*#box{
	position: absolute;
	left: 56%;
	

}*/
body{
	background-image: url("../img/cliente.jpg");
	background-repeat: no-repeat;
	width: 100%;
	background-position: top;
}

.index{
	top: 10px;
	text-align:center;
	color: white;
	margin:100px;	

}
.index h1{
	font-size: 100px;
	border-bottom: 3px solid white;
	margin:30px;
	}
.index p{
	font-size: 20px;
	margin:30px;
	}
.index a{
	padding: 10px;
	border: 3px solid white;
	margin: 20px;
	color: white;
}
.somos{
	color: black;
}
#Destaques{
	margin-bottom: -180px;
	color: white;
	
	
}
nav a{
	color: white;
}
nav a:hover{
	color: white;
	text-decoration: none;
	border-bottom: 3px solid white;
	background: black;
}
.disabled{
 pointer-events: none;
}
.disabled a{
	color: white;	
}

a:hover{
	background: grey;

}
.index a:hover{
	background: rgb(116, 216, 232);

}
