*{
	margin: 0;
}
/*caixa transparente*/
/*#box{
	position: absolute;
	left: 56%;
	

}*/
body{
	background-image: url("../img/backpreto.jpg");
	background-repeat: no-repeat;
	width: 100%;
	background-position: top;

	
}

.index{
	top: 5px;
	text-align:center;
	color: white;
	margin-top:50px;
	padding-bottom: 10px;

}
.index h1{
	font-size: 100px;
	border-bottom: 3px solid white;
	margin:30px;
	}
	
.index p{
	font-size: 20px;
	margin:30px;
	}

.index a{
	padding: 10px;
	border: 3px solid white;
	margin: 20px;
	color: white;
}
nav a:visited{
	color: white;
}
nav a:hover{
	color: white;
	text-decoration: none;
	border-bottom: 3px solid white;
	background: black;
}
.somos{
	color: black;
}
#Destaques{
	margin-top: 1px;
	margin-bottom: 1px;
	
}

button a hover{
	text-decoration: none;
	color: white;
}
.index a:hover{
	background: rgb(116, 216, 232);

}

.parallax { 
	/* The image used */
	background-image: url("../img/cabeloazul.jpg");
  
	/* Set a specific height */
	height: 700px; 
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
