*{
	margin: 0;
}
/*caixa transparente*/
/*#box{
	position: absolute;
	left: 56%;
	
}*/
body{
	background-image: url("../img/salao.jpg");
	background-repeat: no-repeat;
	width: 100%;
	background-position: top;
}


nav a:visited{
	color: white;
}
nav a:hover{
	color: white;
	text-decoration: none;
	border-bottom: 3px solid white;
	background: black;
}

#Destaques{
	margin-top: 300px;
	margin-bottom: 400px;
	
}

button a : hover{
	text-decoration: none;
	color: white;
}


